@CHARSET "UTF-8";


#sub{
	margin:50px auto;
	
}

.form_style{
	
	border:solid 2px red;
	width:480px;
	height:165px;
	
}

.title{
	
	border: solid 2px blue;
	width: 400px; height:30px;
	text-align: center; margin: 2px 0px;
	
}

.content{
	
	border: solid 2px yellow;
	width: 400px; height: 85px;
	margin: 2px 0px;
	
	
}