@CHARSET "UTF-8";


#footer{
	
	width:1024px;
	margin:5px auto;
	border: 0px solid red;
	overflow: hidden;
	
}

#footer > .div1 > .first > ul {
	
	width:1024px;
	border: 1px solid blue;
	overflow: hidden;
}


#footer > .div1 > .first > ul > li{
	
	height: 180px;
	list-style-type: none;
	float: right;
	text-align: center;
	border: 1px solid #cccccc;
	border-right-width: 0px;
	text-align: center;
	line-height: 180px;
	right: 5px;
	
}

#footer > .div1 > .first > ul > li:nth-child(1){

	width: 238px;
	
}	


#footer > .div1 > .first > ul > li:nth-child(2){

	width: 530px;
	
}	


#footer > .div1 > .first > ul > li:nth-child(3){

	width: 242px;
	border-right-width: 1px solid #cccccc;
	
}	

#footer > .div1 > .second{
	
		
	width:1024px;
	height: 50px;
	border: 0px solid blue;
	background-color: black;
	margin: 0px auto;
	text-align: center;
	line-height: 50px;
	color:white;
	margin-top: 6px;
	
}